<div class="container">
    <h2>Input Monster:</h2>
    <form  #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="mb-3">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)]="monsterData.name" required #nameField="ngModel" [class.field-error]="form.submitted && nameField.invalid"/>
        <div [hidden]="nameField.valid || !form.submitted" class=" mt-1 alert alert-danger">Enter a name</div>
      </div>
      <div class="mx-3">
        <div class="row">
            <div class="col">
                <label for="ac">Armor Class</label>
                <input type="text" name="ac" class="form-control" [(ngModel)]="monsterData.ac">
            </div>
            <div class="col">
                <label for="hp">Hit Points</label>
                <input type="text" name="hp" placeholder="20" class="form-control" [(ngModel)]="monsterData.hp">
            </div>
            <div class="col">
                <label for="hitDice">Hit Dice</label>
                <input type="text" name="hitDice" placeholder="4 d8" class="form-control" [(ngModel)]="monsterData.hitDice">
            </div>
        </div>
      </div>
      <div [hidden]="!postError" class="alert alert-danger mx-1">{{postErrorMessage}}</div>
      <button class="btn btn-primary">Send</button>
    </form>
</div>
