<div class="container">
    <h2>Input Monster:</h2>
    <form  #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="mb-3">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" placeholder="Name" [(ngModel)]="monsterData.name" required #nameField="ngModel" [class.field-error]="form.submitted && nameField.invalid"/>
        <div [hidden]="nameField.valid || !form.submitted" class=" mt-1 alert alert-danger">Enter a name</div>
      </div>
      <div class="my-3">
        <div class="row">
            <div class="col">
                <label for="race">Race/Creature Type</label>
                <input type="text" name="race" placeholder="Humanoid" class="form-control" [(ngModel)]="monsterData.race">
            </div>
            <div class="col">
                <label for="alignment">Alignment</label>
                <input type="text" name="alignment" placeholder="Neutral" class="form-control" [(ngModel)]="monsterData.alignment">
            </div>
            <div class="col">
                <label for="challengeRating">Challenge Rating</label>
                <input type="text" name="challengeRating" placeholder="1/2" class="form-control" [(ngModel)]="monsterData.cr">
            </div>
        </div>
      </div>
      <div class="my-3">
        <div class="row">
            <div class="col">
                <label for="ac">Armor Class</label>
                <input type="text" name="ac" placeholder="10" class="form-control" [(ngModel)]="monsterData.ac">
            </div>
            <div class="col">
                <label for="hp">Hit Points</label>
                <input type="text" name="hp" placeholder="20" class="form-control" [(ngModel)]="monsterData.hp">
            </div>
            <div class="col">
                <label for="hitDice">Hit Dice</label>
                <input type="text" name="hitDice" placeholder="4 d8" class="form-control" [(ngModel)]="monsterData.hitDice">
            </div>
        </div>
      </div>
      <div class="my-3">
        <div class="row">
            <div class="col">
                <label for="str">Strength</label>
                <input type="number" name="str" placeholder="10" class="form-control" [(ngModel)]="monsterData.strength">
                <label for="strSave">Save</label>
                <input type="number" name="strSave" placeholder="+0" class="form-control" [(ngModel)]="monsterData.strengthSave">
            </div>
            <div class="col">
                <label for="dex">Dexterity</label>
                <input type="number" name="dex" placeholder="10" class="form-control" [(ngModel)]="monsterData.dexterity">
                <label for="dexSave">Save</label>
                <input type="number" name="dexSave" placeholder="+0" class="form-control" [(ngModel)]="monsterData.dexteritySave">
            </div>
            <div class="col">
                <label for="con">Constitution</label>
                <input type="number" name="con" placeholder="10" class="form-control" [(ngModel)]="monsterData.constitution">
                <label for="conSave">Save</label>
                <input type="number" name="conSave" placeholder="+0" class="form-control" [(ngModel)]="monsterData.constitutionSave">
            </div>
            <div class="col">
                <label for="int">Intelligence</label>
                <input type="number" name="int" class="form-control" [(ngModel)]="monsterData.intelligence">
                <label for="intSave">Save</label>
                <input type="number" name="intSave" class="form-control" [(ngModel)]="monsterData.intelligenceSave">
            </div>
            <div class="col">
                <label for="wis">Wisdom</label>
                <input type="number" name="wis" placeholder="10" class="form-control" [(ngModel)]="monsterData.wisdom">
                <label for="wisSave">Save</label>
                <input type="number" name="wisSave" placeholder="+0" class="form-control" [(ngModel)]="monsterData.wisdomSave">
            </div>
            <div class="col">
                <label for="cha">Charisma</label>
                <input type="number" name="cha" placeholder="10" class="form-control" [(ngModel)]="monsterData.charisma">
                <label for="chaSave">Save</label>
                <input type="number" name="chaSave" placeholder="+0" class="form-control" [(ngModel)]="monsterData.charisma">
            </div>
        </div>
      </div>
      <div>
        <h5>Skills Section</h5>
        <app-skills></app-skills>
      </div>
      <div>
        <h5>Damage Types Section</h5>
        <app-damage-selector></app-damage-selector>
      </div>
      <div>
        <h5>Actions Section</h5>
        <app-action-card></app-action-card>
      </div>
      <div>
        <h5>Reactions Section</h5>
        <app-action-card></app-action-card>
      </div>
      <div>
        <h5>Legandary Actions Section</h5>
        <app-action-card></app-action-card>
      </div>
      <div [hidden]="!postError" class="alert alert-danger mx-1">{{postErrorMessage}}</div>
      <button class="btn btn-primary">Send</button>
    </form>
</div>
`
